* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-size: 100%;
  font: inherit;

  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  background: none !important;
}