$shadow-lg-soft: 0 4px 8px rgba(87, 120, 163, 0.2);
$shadow-sm-soft: 0 2px 4px rgba(87, 120, 163, 0.2);

$color-basic: #e4e5e7;
$color-primary: #5778a3;
$color-secondary: #ff8d83;
$color-accent: #3c9a9c;
